.card-group {
    padding-top: 30rpx;
    width: 100%;
}

.title {
    font-size: 34rpx;
    margin: 20rpx 20rpx 0rpx;
    display: flex;
    height: 54rpx;
    color: rgb(160, 160, 160);
}

.hint {
    width: 10rpx;
    height: 30rpx;
    background-color: rgb(220, 140, 180);
    margin-right: 10rpx;
    padding-top: 15rpx;
}

.subtitle {
    font-size: 30rpx;
    height: 54rpx;
    flex: auto;
    text-align: right;
}
